/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DOM ELEMENTS                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Headings */
h3{
}

/* Table */
th{
  text-align:center;
  background-color: #4d148c;
  color: #000;
}

td{
  text-align: center;
}

.volume-textbox {
	width: 85px;
}
.filter-margin {
	margin: 0 20px 0 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* IDENTIFIERS                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#div_incoming_packages{
  max-height: 480px;
  margin-bottom: 0.5em;
}